<!-- <div style="padding-top: 30px; padding-left: 30px; display: flex; justify-content: space-around;">
    <button mat-raised-button color="primary" (click)="switchToCounter()"> Counter App</button>
    <button mat-raised-button color="primary" (click)="switchToCounterNGRX()"> Counter App NGRX</button>
    <button mat-flat-button color="primary" (click)="switchToTestComp()">Population Component</button>
</div> -->


<div style="width: 90vw; display: flex; justify-content: center;">
    <!-- <app-dashoard-table></app-dashoard-table> -->
</div>

<app-dynamic-reactive-form-table></app-dynamic-reactive-form-table>